!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;", :name => "viewport"}/
    = stylesheet_link_tag "email", media: "all", "data-turbolinks-track" => true
  %body
    = render_template_content_for_video(@template, @template.video) do
      = image_tag "videothumb.jpg", class: 'img-responsive', style: "width: 100%;"