%footer
  %ul.footer-nav
    %li.mr2 © 2014 All Rights Reserved, BONOFA AG
    %li
      = link_to "Terms of use", main_app.termsofuse_pages_path
    %li
      = link_to "Imprint", main_app.imprint_pages_path
    %li
      = link_to "Contact", main_app.contact_pages_path


