#page
  .row
    .container
      .col-md-8.nopadding
        .bgwhite
          %h2 Thank you for your interest in Videomail7!
          .shortline
          %p Do you have questions? Are you interested in further information on Videomail7? Need help with our products?
          %h4.mt2 We are always there for you!
          %p
            At Videomail7, we work non-stop and to always guarantee you the best service and the highest quality. Just send us an e-mail
            %a{:href => 'mailto:support@videomail7.com'}
              support@videomail7.com
            or contact us using the contact form.
          %h4.mt2 We look forward to hearing from you!