$primary: #89b500;
$secondary: #569200;
$primarybg: #89b500;
$secondarybg: #569200;
$light: #ffffff;
$dark: #000000;
$grey1: #333333;
$grey2: #454545;
$grey3: #666666;
$grey4: #999999;
$grey5: #aaaaaa;
$grey6: #eeeeee;