#messages {

  table {

    tr {

      td {
        font-size: .9em;
      }
    }
  }

  .tokenfield {
    padding-bottom: 5px;
    padding-left: 0;

    .token {
      margin: 7px 5px 5px 9px;
    }
  }
  .videoselect {

    li {

      a {
        padding: 10px 20px;
        @include transition(all 300ms ease);

        img {
          margin-right: 10px;
        }
      }
    }

  }
  .templateselect,
  .videoselect {
    max-width: 500px;
    max-height: 200px;
    overflow-y: auto;

    li {


      a {
        padding: 10px 20px;
        display: block;
        @include transition(all 300ms ease);

        img {
          margin-right: 10px;
          max-height: 50px;
        }
      }
    }
  }

  .sent{
    color: $secondary;
    @extend .glyphicon-ok;
  }

  .delayed{
    color: $grey5;
    @extend .glyphicon-time;
  }

  .draft {
    color: $grey5;
    @extend .glyphicon-hdd;
  }

  .disabled{
    opacity: .2;
  }
}
#new_message {

  .input-group  {
    .form-control {
      width: calc(100% - 40px)!important;
    }
  }
  button {

    &.dropdown-toggle {
      float: left;
      height: 34px;
    }
  }
}
.statistics {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      border-top: 1px solid $grey6;
      color: $grey4;
      padding: 10px 0;
    }
  }
}
.table-statistics {

  thead {
    background-color: $grey6;

    tr {
      color: $grey5;
      font-size: .9em;

      th {
        color: inherit;
      }
    }
  }
  tbody {

    tr {

      td {
        vertical-align: middle!important;
      }
    }
  }
}